* {
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
    color: #222831;
    margin: 0;
    padding: 0;
    /*font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 100vw;
}

a:any-link {
    text-decoration: none;
    color: #222831;
}

p {
    font-size: 1.3em;
    line-height: 2;
}

h1 {
    font-size: 2.5em;
}

h2 {
    color: #00C7FF;
    font-size: 2.5rem;
    margin: 0;
}

h3 {
    color: #00C7FF;
    font-size: 150%;
}

hr {
    border-color: #00C7FF;
    border-style: none;
    border-top-style: solid;
    border-width: 5px;
    border-radius: 5px;
    width: 20%;
    box-shadow: 0px 0px 4px 2px #00C7FF ;
    margin: 80px auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
}
.nav-links{
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 1.5vw 2vw 0 2vw;
}
.nav-links li a{
    font-size: 1.1em;
}
.nav-links li a:hover{
    color: #00C7FF;
    transition: 0.3s ease;
}

.intro {
    margin: 50px auto;
    color: #eeeeee;
    height: 50vh;
    width: 50vh;
    /*box-shadow: 0px 0px 20px 1px black;*/
    
}
.intro-content:hover {
    box-shadow: 0px 0px 30px 15px #00C7FF;
    transition: 1s ease;
}
.intro-content{
    background-color: #909090;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 10%;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 10px #00C7FF;
}
.profile-pic {
    width: 35%;
}
.intro h1 {
    height: 10%;
}

.intro p {
    width: 60%;
    margin: 0 auto;
}

.intro hr {
    width: 7%;
    margin: 10px auto;
}


.skills {
    width: 60%;
    margin: 150px auto;
    text-align: left;
}

.skills  img {
    width: 200px;
    float: left;
    margin-right: 30px;
}

.even img {
    width: 200px;
    float: right;
    margin-left: 30px;
    margin-right: 0;
}
.even h3 {
    text-align: right;
}


.contact-me a {
    color: #00C7FF;
    font-weight: bold;
}
button {
    background-color: #00C7FF ;
    color: #eeeeee;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
    border: 2px solid #00C7FF;
    border-radius: 10px;
}
button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px #00C7FF;
    transition: ease 1s ;
}


footer {
    width: 100vw;
    margin: 50px 0 0 0;
    padding: 0px;
    border-top: 3px solid #00C7FF ;
    background-color:#393e46;
    color: #eeeeee;
    font-size: .6em;
    box-shadow: 0px 0px 20px 5px #00C7FF;
}
.contacts{
    width: 100vw;
    margin: 0 auto;
}
.contacts p {
    display: inline-block;
    width: auto;
    text-align: center;
}
.contacts img {
    position: relative;
    top: 9px;
    width: 25px;
}
.contacts a {
    color: #eeeeee;
}
.contacts a:hover {
    color: #00C7FF;
    transition: 0.5s ease;
}

