body {
    background-color: #eeeeee;
    color: #222831;
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-align: center;
}

a:any-link {
    text-decoration: none;
    color: #222831;
}

p {
    font-size: 1.3em;
    
    /**/
}

h1 {
    font-size: 2.5em;
}

h2 {
    color: #00C7FF;
    font-size: 2.5rem;
    margin: 0;
}

h3 {
    color: #00C7FF;
    font-size: 150%;
}

hr {
    border-color: #00C7FF;
    border-style: none;
    border-top-style: solid;
    border-width: 5px;
    border-radius: 5px;
    width: 20%;
    box-shadow: 0px 0px 4px 2px #00C7FF ;
    margin: 80px auto;
}

#topnav {
    text-align: center;
    position: relative;
}

#topnav div {
    height: 30%;
    display: inline-block;
}

#logo {
    width: 75px;

}

.logo {
    position: relative;
    top: 10px;
}

.logo h2 {
    display: inline;
    position: relative;
    bottom: 10px;
    text-shadow: 0px 0px 1px #00C7FF;
}
.logo h2:hover {
    text-shadow: 0px 0px 3px #00C7FF;
}

#navigation {
    margin-left: 30%;
}

#navigation li {
    display: inline-block;
    margin: 0px 40px;
}

#navigation a {
    font-size: 1.2em;
    display: inline-block;
    color: #222831;
    padding: 10px 20px 3px 20px;
    border-bottom: 3px solid #00C7FF;
}
#navigation a:hover {
    font-size: 1.2em;
    display: inline-block;
    color: #222831;
    padding: 10px 20px 10px 20px;
    background-color: #00C7FF;
    border: 3px solid #00C7FF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #00C7FF;
    transition: ease 0.1s;
}



.intro {
    background-color: #393e46;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    margin: 50px auto;
    color: #eeeeee;
    box-shadow: 0px 0px 10px 1px black;
}
.intro:hover {
    box-shadow: 0px 0px 15px 1px black;
}
.intro p {
    width: 60%;
    margin: 0 auto;
}

.intro-content {
    position: relative;
    top: 20%;
}

.intro hr {
    width: 7%;
    margin: 10px auto;
}


.skills {
    width: 60%;
    margin: 150px auto;
    text-align: left;
}

.skills  img {
    width: 200px;
    float: left;
    margin-right: 30px;
}

.even img {
    width: 200px;
    float: right;
    margin-left: 30px;
    margin-right: 0;
}
.even h3 {
    text-align: right;
}


.contact-me a {
    color: #00C7FF;
    font-weight: bold;
}
button {
    background-color: #00C7FF ;
    color: #eeeeee;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
    border: 2px solid #00C7FF;
    border-radius: 10px;
}
button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px #00C7FF;
    transition: ease .3s ;
}

footer {
    width: 100%;
    margin-top: 50px;
    padding: 0px;
    border-top: 3px solid #00C7FF ;
    background-color:#393e46;
    color: #eeeeee;
    font-size: .8em;
    box-shadow: 0px 0px 20px 5px #00C7FF;
    justify-content: center;
}

.contacts p {
    display: inline-block;
    width: 20%;
    text-align: left;
}
.contacts img {
    position: relative;
    top: 9px;
    width: 30px;
}
.contacts a {
    color: #00C7FF;
}
